﻿@using CFC.SearchFund.Models;

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    @Html.SSI("http://portal.rusarchives.ru/ssi/head.shtml", "http://portal.rusarchives.ru/")
    
    <title>Центральный Фондовый Каталог: @ViewBag.Title</title>
    <meta name="description" content="Поиск в базе данных Центрального фондового каталога">
    <meta name="keywords" content="центральный, фондовый, каталог, архив, государственный, федеральный, документ, информационный">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="http://portal.rusarchives.ru/text.css" rel="stylesheet">
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script language="JavaScript">
    <!--
        function MM_swapImgRestore() { //v3.0
            var i, x, a = document.MM_sr; for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;
        }
        function MM_preloadImages() { //v3.0
            var d = document; if (d.images) {
                if (!d.MM_p) d.MM_p = new Array();
                var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
                    if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
            }
        }
        function MM_findObj(n, d) { //v3.0
            var p, i, x; if (!d) d = document; if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
                d = parent.frames[n.substring(p + 1)].document; n = n.substring(0, p);
            }
            if (!(x = d[n]) && d.all) x = d.all[n]; for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
            for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document); return x;
        }
        function MM_swapImage() { //v3.0
            var i, j = 0, x, a = MM_swapImage.arguments; document.MM_sr = new Array; for (i = 0; i < (a.length - 2); i += 3)
                if ((x = MM_findObj(a[i])) != null) { document.MM_sr[j++] = x; if (!x.oSrc) x.oSrc = x.src; x.src = a[i + 2]; }
        }
    //-->
    </script>
</head>


<body bgcolor="FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"
    onload="MM_preloadImages('http://portal.rusarchives.ru/pik/frem/new1.jpg','http://portal.rusarchives.ru/pik/frem/g1.jpg',
                             'http://portal.rusarchives.ru/pik/frem/m1.jpg','http://portal.rusarchives.ru/pik/frem/p1.jpg',
                             'http://portal.rusarchives.ru/pik/frem/o1.jpg')">
   
    <script language="javascript1.2" charset="windows-1251" src="http://portal.rusarchives.ru/branch/skript.js"></script>
    
    <table border="0" cellpadding="0" cellspacing="0" width="97%" height="" align="center">
        <tr>
            <td valign="top" width="110">
                <img src="@Url.Content("~/Content/Images/log1.jpg")" alt="АРХИВЫ РОССИИ" border="0" width="114" height="194">
            </td>
            <td valign="top" width="80%" align="center">
                @Html.SSI("http://portal.rusarchives.ru/ssi/head1.shtml", "http://portal.rusarchives.ru/")
             
                
                    <div id="sitewrapper">
                        <div id="sitearea" style="background-image: url('@Url.Content("~/Content/Images/bg.jpg")');">
                            <div id="sitelogo">
                                <img src="@Url.Content("~/Content/Images/logo.jpg")" border="0" alt="" /></div>
                            <div id="siteheader">
                                <span>Архивный фонд Российской Федерации</span>
                                <br />
                                Центральный Фондовый Каталог
                                <br />
                                @Html.ActionLink("Информация о Центральном Фондовом Каталоге", "Info", null, new { style = "font-size: 10pt;" })
                            </div>
                            <div id="sitecontent">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                
            </td>
            <td valign="top" width="172">
                <a href="http://portal.rusarchives.ru/index.shtml">
                    <img src="@Url.Content("~/Content/Images/log2.jpg")" alt="НА ГЛАВНУЮ" border="0" width="176" height="100">
                </a>
                <br>
                @Html.SSI("http://portal.rusarchives.ru/ssi/mail.shtml", "http://portal.rusarchives.ru/")
            </td>
        </tr>
    </table>
    <center>
        @Html.SSI("http://portal.rusarchives.ru/ssi/footer.shtml", "http://portal.rusarchives.ru/")
        @Html.SSI(Server.MapPath("~/banner.shtml"), "http://portal.rusarchives.ru/")
    </center>
</body>
</html>
