﻿@using CFC.SearchFund.Models

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link href='@Url.Content("~/Content/bootstrap.min.css")' rel="stylesheet" type="text/css" />



    @*<script src='@Url.Content("~/Scripts/jquery-1.5.1.min.js")' type="text/javascript"></script>*@
    @*<script src='@Url.Content("~/Scripts/bootstrap.bundle.js")'></script>*@

    <script src='@Url.Content("~/Scripts/jquery-3.3.1.min.js")'></script>
    <script src='@Url.Content("~/Scripts/inputmask/jquery.inputmask.bundle.js")'></script>

    @*<script src='@Url.Content("~/Scripts/popper.js")'></script>*@
    <script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
    @Styles.Render("~/Content/font")
    <title>Центральный Фондовый Каталог: @ViewBag.Title</title>
</head>
@*<script>
        !function ($) {
            $(function () {
                $(".collapse").collapse();
            });
        }(window.jQuery)
    </script>*@

<script type="text/javascript">
    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() != 0) {
                $('#backToTopPanel').fadeIn();
            } else {
                $('#backToTopPanel').fadeOut();
            }
        });
        $('#backToTopPanel').click(function () {
            $('body,html').animate({ scrollTop: 0 }, 800);
        });
    });

    $(window).on('load', function () {
        var $preloader = $('#page-preloader'),
            $spinner = $preloader.find('.spinner');
        $spinner.fadeOut();
        $preloader.fadeOut('slow');

    });

    $(document).ready(function () {
        var width = screen.width; // ширина
        var timerId = setTimeout(function () {
            $('#feedbackBtn').fadeIn('fast');
            var audio = document.getElementById('feedbackSound');
            audio.play();
        }, 5000);

        if (width < 520) {
            clearTimeout(timerId);
        }

        //phone mask
        $("#feedbackPhone").inputmask("8(999) 999-99-99");

        //email mask
        //var dog = String.fromCharCode(64);
        //$("#feedbackEmail").inputmask("email");

    });
    function SendMessage() {

        var inputs = $("[data-role='required']");
        console.log($("#alertName").length);

        if (inputs[0].value == "") {//feedbackName
            if ($("#alertName").length == 0) {
                $("#feedbackName").parent().append("<div id='alertName' class='alert alert-dark alertError' role='alert'><i class='fa fa-exclamation-circle' aria-hidden='true'></i> Заполните пустое поле!</div>");
            }
        } else {
            if (!$("#alertName").length == 0) {
                $("#alertName").remove();
            }
        }

        if (inputs[1].value == "") {//feedbackEmail
            if ($("#alertEmail").length == 0) {
                $("#feedbackEmail").parent().append("<div id='alertEmail' class='alert alert-dark alertError' role='alert'><i class='fa fa-exclamation-circle' aria-hidden='true'></i> Заполните пустое поле!</div>");
            }
        } else {
            if (!$("#alertEmail").length == 0) {
                $("#alertEmail").remove();
            }
        }


        if (inputs[2].value == "") {//feedbackTheme
            if ($("#alertTheme").length == 0) {
                $("#feedbackTheme").parent().append("<div id='alertTheme' class='alert alert-dark alertError' role='alert'><i class='fa fa-exclamation-circle' aria-hidden='true'></i> Заполните пустое поле!</div>");
            }
        } else {
            if (!$("#alertTheme").length == 0) {
                $("#alertTheme").remove();
            }
        }

        if (inputs[3].value == "") {//feedbackComment
            if ($("#alertComment").length == 0) {
                $("#feedbackComment").parent().append("<div id='alertComment' class='alert alert-dark alertError' role='alert'><i class='fa fa-exclamation-circle' aria-hidden='true'></i> Заполните пустое поле!</div>");
            }
        } else {
            if (!$("#alertComment").length == 0) {
                $("#alertComment").remove();
            }
        }

        var feedbackData = {
            name: inputs[0].value,
            address: inputs[1].value,
            subject: inputs[2].value,
            message: inputs[3].value,
            phone: $("#feedbackPhone").val()
        }

        //ajjj
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("SendMail", "Search")',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ FeedbackData : feedbackData }),
                success: function (data) {
                    if (data == "success") {
                        if (!$("#alertEmail").length == 0) {
                            $("#alertEmail").remove();
                        }
                        $("#feedbackModal").modal('hide');
                        $("#detailsModal2").modal('show');
                    }
                    if (data == "email_error") {
                        if ($("#alertEmail").length == 0) {
                            $("#feedbackEmail").parent().append("<div id='alertEmail' class='alert alert-dark alertError' role='alert'><i class='fa fa-exclamation-circle' aria-hidden='true'></i> Введите действительный адрес эл. почты!</div>");
                        }
                    }
                },
                error: function () {

                }
            });


         @*$.ajax(
            {
                type: "POST",
                url: '@Url.Action("AjaxGetSub", "Search")',
                contentType: 'application/json; charset=utf-8',
                //dataType: "html",
                data: JSON.stringify({ Subject: idSub }), //add parameter
                success: function (data) {
                    console.log(data);
                    if (data != "0") {
                        document.getElementById("arhiveList").innerHTML = data;
                    } else {
                        $('input[id=SubId]').val('');
                        alert("Архивов в выбранном субъекте РФ не найдено. Пожалуйста, выберите другой субъект РФ. ");
                    }


                },
                error: function () {
                    alert("error");
                }

                });*@
        }


</script>

<body id="bodyId" style="background-color:#f8f9fa">
    <div id="page-preloader"><span class="spinner"></span></div>
    <div class="wrapper container " style="background-color:#ffffff">
        <div class="container header-content ">
            <div class="row justify-content-start align-items-center ">
                <div class="col-2 colLogo ">
                    <div class="logo m-auto">
                        @*<img class="img-fluid rounded mx-auto d-block logotipe" src='@Url.Content("~/Content/Images/search/logoBl.png")' />*@
                    </div>
                </div>
                <div class="col-md-auto m-auto pt-1 colText">
                    <h3>Архивный фонд Российской Федерации</h3>
                    <h4>Центральный Фондовый Каталог </h4>
                </div>
            </div>
        </div>
        <div class="content_body">

            @*<nav class="content_menu" >
                    <ul class="nav nav-pills  nav-fill ">
                        <li class="nav-item border">
                            <a class="nav-link active" href="#">Главная</a>
                        </li>
                        <li class="nav-item border">
                            <a class="nav-link" href="#">Информация о системе</a>
                        </li>
                        <li class="nav-item border">
                            <a class="nav-link" href="#">Часто задаваемые вопросы</a>
                        </li>

                    </ul>
                </nav>*@

            <nav class="navbar navbar-expand-lg  justify-content-between navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            @Html.ActionLink("ГЛАВНАЯ", "Index", "Search", null, new { @class = "nav-link" })
                            @*<a class="nav-link" href="#">ГЛАВНАЯ<span class="sr-only">(current)</span></a>*@
                        </li>

                    </ul>

                    <div class="form-inline my-2 my-lg-0">
                        <ul class="navbar-nav">
                            <li class="nav-item @Html.IsSelected(actions: "Index", controllers: "Search", cssClass: "active")">
                                @Html.ActionLink("ПОИСК", "Index", "Search", null, new { @class = "nav-link" })
                                @*<a class="nav-link" href="#">ПОИСК<span class="sr-only">(current)</span></a>*@
                            </li>
                            <li class="nav-item @Html.IsSelected(actions: "About", controllers: "Search", cssClass: "active")">
                                @Html.ActionLink("О СИСТЕМЕ", "About", "Search", null, new { @class = "nav-link" })
                                @*<a class="nav-link" href="#">О СИСТЕМЕ</a>*@
                            </li>
                            <li class="nav-item @Html.IsSelected(actions: "Questions", controllers: "Search", cssClass: "active")">
                                @Html.ActionLink("ВОПРОСЫ", "Questions", "Search", null, new { @class = "nav-link" })
                                @*<a class="nav-link" href="#">ВОПРОСЫ</a>*@
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container pt-2 pb-2">
                <div class="row hiddenSm">
                    @*<div class="col-sm-2 text-left m-auto pl-0 pr-0">
                            <img class="img-fluid arhLogo  " src='@Url.Content("~/Content/Images/ArhRf.png")' />

                        </div>*@
                    <div class="col-md-8 pt-md-3 infoblock">
                        <blockquote class="blockquote">
                            <bold>
                                Центральный фондовый каталог (ЦФК) – федеральная государственная информационная система, представляющая сведения о составе Архивного фонда Российской Федерации и предназначенная для информационного обеспечения пользователей архивными документами.
                            </bold>
                        </blockquote>
                    </div>
                    <div class="col-sm-4 m-auto text-center @*banner*@ pl-0 pr-0">
                        <div class="row justify-content-between ml-2 mr-sm-0">
                            <div class=" col-sm-6  ">
                                <a href="http://archives.gov.ru/" target="_blank"> <img class="img-fluid  arhLogo p-2  " src='@Url.Content("~/Content/Images/ArhFed.png")' /></a>
                            </div>
                            <div class="col-sm-6   ">
                                <a href="http://rusarchives.ru/" target="_blank"> <img class="img-fluid  arhLogo p-2  " src='@Url.Content("~/Content/Images/ArhRf.png")' /> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
    @*<audio controls="controls">
            <source src="~/Content/audio/sound.mp3" type="audio/mpeg" />
        </audio>*@
    <div class=" footerDno container">
        <div class="row">
            <div class="footer__line col-6 ">
                <div class="text-left ">
                    <i class="fa fa-copyright" aria-hidden="true"></i> "Федеральное архивное агентство " 2001–@DateTime.Today.Year
                </div>
                <div class=" pt-1">
                    @*<div>Openstat закомментирован 16.02.2021 Salaman Andrey
                            <!--Openstat-->
                            <span id="openstat2235903"></span>
                            <script type="text/javascript">
                                var openstat = { counter: 2235903, image: 5083, color: "c3c3c3", next: openstat, track_links: "ext" }; (function (d, t, p) { var j = d.createElement(t); j.async = true; j.type = "text/javascript"; j.src = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js"; var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s); })(document, "script", document.location.protocol);
                            </script> <!--/Openstat-->
                        </div>*@
                </div>
            </div>

            <div class="footer__line col-6 text-right">
                <div class="modalDetails">
                    <!-- Modal Модальное окно из Questions.cshtml 16.02.2021 Salaman Andrey-->
                    <div id="detailsModal1" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg ">
                            <!-- Modal content-->
                            <div id="modalContentId" class="modal-content ">

                                <div class="modal-header caption">

                                    <div class="container p-0">
                                        <div class="row justify-content-between">
                                            <div class="col-9">
                                                <h5 class="modal-title" align="left"> Условия использования материалов сайта</h5>
                                            </div>
                                            <div class="col-3 text-right align-self-end pl-0">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modalBody thumbnail">
                                    <div class="modal-body ">
                                        <div class="textModal">
                                            <h5 align="left">
                                                Материалы базы данных предназначены для использования в научных, образовательных или личных целях.<br /><br />
                                                При воспроизведении любыми способами материалов сайта на веб-сайтах, в оффлайн-СМИ, в изданиях, упоминании и цитировании материалов обязательна ссылка на ресурс с указанием Интернет-адреса.<br /><br />
                                                Любое иное использование базы данных в целом или содержащихся в ней текстов справочников или их крупных фрагментов - распространение в Интернет (включая размещение на сайтах), в ином электронном или печатном виде, на микроносителях - допускается только с письменного разрешения Федерального архивного агентства.<br /><br />
                                            </h5>
                                        </div>
                                        <button type="button" class="btn btn-outline-success btn-default caption-link modalClose" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--class="btn btn-outline-success caption-link btn-default openDetails" data-toggle="modal" data-target="#detailsModal"  Ссылка изменена 16.02.2021 Salaman Andrey-->
                <div><a class="footer__href openDetails" href="#" data-toggle="modal" data-target="#detailsModal1">Условия использования материалов сайта</a></div>
                <div>Поддержка сайта: <a class="footer__href" href="#">support@archives.ru</a></div>
            </div>
        </div>
    </div>
    <div id="feedbackModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg ">
            <!-- Modal content-->
            <div id="feedbackContentId" class="modal-content ">

                <div class="modal-header caption">

                    <div class="container p-0">
                        <div class="row justify-content-between">
                            <div class="col-9">
                                <h5 class="modal-title"> Обратная связь</h5>
                            </div>
                            <div class="col-3 text-right align-self-end pl-0">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modalBody thumbnail">
                    <div class="modal-body ">
                        <div class="textModal">
                            @using (Html.BeginForm())
                            {
                                <div id="feedback" class="">
                                    <div class="form-group">
                                        <label>
                                            ФИО или наименование организации*:
                                        </label>
                                        <input id="feedbackName" type="text" class=" form-control mr-sm-2 my-2" placeholder="Введите ФИО или наименование организации" data-role="required" />

                                    </div>

                                    <div class="form-group">
                                        <label>
                                            Телефон:
                                        </label>
                                        <input id="feedbackPhone" type="tel" class=" form-control mr-sm-2 my-2" placeholder="Введите номер телефона" />

                                    </div>
                                    <div class="form-group">
                                        <label>
                                            E-mail*:
                                        </label>
                                        <input id="feedbackEmail" class=" form-control mr-sm-2 my-2" placeholder="Введите Email" data-role="required" />

                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Тема*:
                                        </label>
                                        <input type="text" id="feedbackTheme" class=" form-control mr-sm-2 my-2" data-role="required" />

                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Текст сообщения*:
                                        </label>
                                        <textarea id="feedbackComment" class=" form-control mr-sm-2 my-2" data-role="required"></textarea>

                                    </div>
                                    <span class="float-right cursorDefault">* - обязательные поля</span>
                                    <div class="form-group text-center">
                                        <div class="w-100">
                                            <input type="button" value="Отправить" class="btn btn-outline-success caption-link btn-default " onclick="SendMessage()" />

                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                        @*<button type="button" class="btn btn-outline-success caption-link modalClose" data-dismiss="modal">Закрыть</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*gggggg*@
    <div id="detailsModal2" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg ">
            <!-- Modal content-->
            <div id="modalContentId" class="modal-content ">
                <div class="modal-header caption">
                    <div class="container p-0">
                        <div class="row justify-content-between">
                            <div class="col-12">
                                <h5 id="errTitle" class="modal-title" align="center">Информация</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modalBody thumbnail">
                    <div class="modal-body ">
                        <div class="textModal">
                            <h5 id="errMessage" align="center">Ваше сообщение доставлено</h5>
                        </div>
                        <button type="button" class="btn btn-outline-success btn-default caption-link modalClose" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="backToTopPanel"></div>
    <button id="feedbackBtn" class="btn @*openDetails*@ openFeedback" data-toggle="modal" data-target="#feedbackModal"></button>
    <audio id="feedbackSound" src="~/Content/audio/sound.mp3" @*autoplay="autoplay"*@></audio>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter50144821 = new Ya.Metrika2({ id: 50144821, clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true, trackHash: true }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2");</script> <noscript><div><img src="https://mc.yandex.ru/watch/50144821" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>