﻿@using CFC.SearchFund.Models

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link href='@Url.Content("~/Content/bootstrap.min.css")' rel="stylesheet" type="text/css" />



    @*<script src='@Url.Content("~/Scripts/jquery-1.5.1.min.js")' type="text/javascript"></script>*@
    @*<script src='@Url.Content("~/Scripts/bootstrap.bundle.js")'></script>*@

    <script src='@Url.Content("~/Scripts/jquery-3.3.1.min.js")'></script>

    @*<script src='@Url.Content("~/Scripts/popper.js")'></script>*@
    <script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
    @Styles.Render("~/Content/font")
    <title>Центральный Фондовый Каталог: @ViewBag.Title</title>
</head>
@*<script>
        !function ($) {
            $(function () {
                $(".collapse").collapse();
            });
        }(window.jQuery)
    </script>*@

<script type="text/javascript">
    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() != 0) {
                $('#backToTopPanel').fadeIn();
            } else {
                $('#backToTopPanel').fadeOut();
            }
        });
        $('#backToTopPanel').click(function () {
            $('body,html').animate({ scrollTop: 0 }, 800);
        });
    });

    $(window).on('load', function () {
        var $preloader = $('#page-preloader'),
            $spinner = $preloader.find('.spinner');
        $spinner.fadeOut();
        $preloader.fadeOut('slow');
    });

</script>

<body id="bodyId" class="w-100" style="background-color:#e1e1e1">
    <div id="page-preloader"><span class="spinner"></span></div>
    
        
        <div class="content_body">


            @RenderBody()


        </div>
    

   
    <div id="backToTopPanel"></div>
    
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter50144821 = new Ya.Metrika2({ id:50144821, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/50144821" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>