﻿
@{
    ViewBag.Title = "ResultElemPartial";
}

<div class=" pt-md-3">
    <div class="card">
        <h6 class="card-header">Featured</h6>
        <div class="card-body">
            <h6 class="card-title">Специальный заголовок #1</h6>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
        </div>
    </div>
</div>