﻿
/* Complimentar schema*/
/* https://color.adobe.com/ru/create/color-wheel/?base=2&rule=Complementary&selected=2&name=%D0%9C%D0%BE%D1%8F%20%D1%82%D0%B5%D0%BC%D0%B0%20Color&mode=rgb&rgbvalues=0.2796011586452653,0.5,0.23431372549019608,0.7251114081996297,1,0.6686274509803921,0.5137254901960784,0.8,0.4549019607843137,0.5,0.1843137254901961,0.41928475935823656,0.8,0.4549019607843137,0.7117647058822959&swatchOrder=0,1,2,3,4 */
@cmLL: #4A4040;
@cmL: #983a42;
@cm: #caaead;
@cmR: #4A2B29;
@cmRR: #978281;
@cmGr: #717171;
/* trangle */
@trLL: #7D605F;
@trL: #FFF4F4;
@tr: #caaead;
@trR: #527D61;
@trRR: #ADCAB7;
/* monochromic */
@mnLL: #314C2B;
@mnL: #BDD4B9;
@mn: #83CC74;
@mnR: #444C42;
@mnRR: #629957;

@cWhite: #FFF;
@cBlack: #313131;

@cText: #313131;
@cTextSelected: @cmL;
@cBackground: #e1e1e1;
@cTextLight: #0c7747;
@cBorder: #e1e1e1;
@cBGLight: #f8f9fa;

/*#region Fonts */
@fRedOctober: "Red October", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
@fCony: "Cony", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
@fPelagycyronly: "Pelagy", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
@fDobrozrachniy: "Dobrozrachniy", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
@fTkachevica: "Tkachevica", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
@fReformaGrotesk: "ReformaGroteskDemiC", Menlo, Monaco, Consolas, "Courier New", monospace;
@fPoluUstav: "PoluUstav", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
@fOpenSans: "Open Sans", Helvetica, Arial, sans-serif;
@fAAntique: "a_AntiqueTitulGr", "Tkachevica", 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
@fOldStandart: "Old Standard TT", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/*#endregion */
/*#region CONY */
@import url('../fonts/Cony/stylesheet.css');
@import url('../fonts/Tkachevica/stylesheet.css');
@import url('../fonts/Dobrozrachniy/stylesheet.css');
@import url('../fonts/Pelagycyronly/stylesheet.css');
@import url('../fonts/RedOctober/stylesheet.css');
@import url('../fonts/ReformaGrotesk/stylesheet.css');
@import url('../fonts/PoluUstav/stylesheet.css');
@import url('../fonts/OpenSans/stylesheet.css');
@import url('../fonts/AAntique/stylesheet.css');
@import url('../fonts/OldStandart/stylesheet.css');

@media (min-width: 1020px) {
    .colLogo {
        padding-left: 50px !important;
    }

    .LGheader {
        max-width: 55%;
    }

    .LGheader h3 {
        font-size: 1.5em !important;
    }

    .LGheader h4 {
        font-size: 1.3em !important;
    }
}

@media (min-width: 771px) {

    #page-preloader .spinner {
        background-size: 120px !important;
    }
}

@media screen and (max-device-height:600px) {
    .wrapper {
        margin-bottom: -127px !important;
    }

    .advanced-fields_search {
        margin-bottom: 8rem !important;
    }
}

@media screen and (min-device-height:601px) {
    .wrapper {
        margin-bottom: -127px !important;
    }

    .advanced-fields_search {
        margin-bottom: 7rem !important;
    }
}

@media screen and (min-device-height:701px) {
    .wrapper {
        margin-bottom: -108px !important;
    }

    /*.advanced-fields_search {
        margin-bottom: 3rem !important;
    }*/
}

@media screen and (min-device-height:801px) {
    .wrapper {
        margin-bottom: -127px !important;
    }

    /*.advanced-fields_search {
        margin-bottom: 3rem !important;
    }*/
    
}
@media screen and (min-height:865px) {
    .marginBlock {
        padding-bottom: 0rem !important;
    }
    
}

@media screen and (max-device-height:901px) {
    .wrapper {
        margin-bottom: -71px !important;
    }
   
    /*.advanced-fields_search {
        margin-bottom: 3rem !important;
    }*/
}


@media screen and (max-device-height:901px) and (max-width: 520px) {
    .wrapper {
        margin-bottom: -108px !important;
    }
    /*.advanced-fields_search {
        margin-bottom: 3rem !important;
    }*/
}

@media screen and (min-device-height:1001px) {
    .wrapper {
        margin-bottom: -70px !important;
    }

    /*.advanced-fields_search {
        margin-bottom: 3rem !important;
    }*/
}

@media (max-width: 770px) {

    #page-preloader .spinner {
        background-size: 90px !important;
    }

    .visibleSm {
        display: none;
    }

    .textSelected {
        font-size: 1.1rem !important;
    }

    .yearsText {
        font-size: 0.8rem !important;
    }

    .modal-title {
        font-size: 1.1rem !important;
    }

    .colLogo {
        padding-left: 30px !important;
    }

    .header-content h3 {
        font-size: 1.2rem !important;
    }

    .header-content h4 {
        font-size: 1.2rem !important;
    }

    .input-group {
        width: 83% !important;
    }

    #backToTopPanel {
        width: 50px !important;
        height: 45px !important;
        background-size: 45px !important;
    }
}

@media (max-width: 520px) {

    .loginHeader {
        font-size: 1.1rem !important;
        text-transform: uppercase;
    }

    .pagingBlock {
        margin-top: 0rem !important;
        margin-bottom: 1rem !important;
    }

    .colBr {
        flex-basis: auto !important;
        text-align: center !important;
    }

    .visibleXs {
        display: none;
    }

    .textSelected {
        font-size: 1rem !important;
    }

    .yearsText {
        font-size: 0.8rem !important;
    }

    .subjectText {
        font-size: 0.85rem !important;
    }

    .modal-title {
        font-size: 1.2rem !important;
    }

    .modal-body {
        font-size: 0.85rem !important;
    }

    .colLogo {
        padding-left: 0px !important;
        margin: auto !important;
    }

    .colText {
        text-align: center !important;
    }

    .header-content {
        padding: 10px !important;
    }

    .header-content h3 {
        font-size: 1.5rem !important;
    }

    .header-content h4 {
        font-size: 1rem !important;
    }

    .pagination button {
        padding: 7px 14px !important;
    }

    .pageBtnGo {
        padding: 7px 14px !important;
    }

    .blockquote {
        font-size: 1rem !important;
    }

    .logo {
        width: 60px !important;
        height: 70px !important;
    }

    .input-group {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .search {
        width: 100% !important;
        margin: auto !important;
        margin-top: 5px !important;
    }

    .form-control {
        font-size: 1rem !important;
    }

    .form-group {
        margin-bottom: 0 !important;
        font-size: 0.9rem;
    }

    .add {
        padding-top: 10px !important;
        padding-bottom: 5px !important;
    }

    .add h6 a {
        font-size: 1rem !important;
    }

    .seacrhNumb {
        padding-right: 0 !important;
    }

    .thumbnail {
        margin-top: 15px !important;
        margin-bottom: 45px !important;
        min-width: 100%;
    }

    .card-header {
        font-size: 1rem !important;
        max-height: 83px;
        white-space: initial;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    .thumbnail .caption {
        font-size: 1rem !important;
    }

    #backToTopPanel {
        width: 35px !important;
        height: 30px !important;
        background-size: 35px !important;
    }

    .margin {
        height: 70px !important;
    }

    #page-preloader .spinner {
        background-size: 80px !important;
    }
}


@media (max-width: 420px) {

    .colBr {
        flex-basis: auto !important;
        text-align: center !important;
    }

    .visibleXs {
        display: none;
    }

    .textSelected {
        font-size: 1rem !important;
    }

    .yearsText {
        font-size: 0.65rem !important;
    }

    .subjectText {
        font-size: 0.85rem !important;
    }

    .modal-title {
        font-size: 1rem !important;
    }

    .modal-body {
        font-size: 0.85rem !important;
    }

    .colLogo {
        padding-left: 0px !important;
        margin: auto !important;
    }

    .colText {
        text-align: center !important;
    }

    .header-content {
        padding: 10px !important;
    }

    .header-content h3 {
        font-size: 1.2rem !important;
    }

    .header-content h4 {
        font-size: 0.8rem !important;
    }

    .pagination button {
        padding: 3px 10px !important;
    }

    .pageBtnGo {
        padding: 3px 10px !important;
    }


    .blockquote {
        font-size: 0.8rem !important;
    }

    .logo {
        width: 60px !important;
        height: 70px !important;
    }

    .input-group {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .search {
        width: 100% !important;
        margin: auto !important;
        margin-top: 5px !important;
    }

    .form-control {
        font-size: 0.8rem !important;
    }

    .form-group {
        margin-bottom: 0 !important;
        font-size: 0.9rem;
    }

    .add {
        padding-top: 10px !important;
        padding-bottom: 5px !important;
    }

    .add h6 a {
        font-size: 1rem !important;
    }

    .seacrhNumb {
        padding-right: 0 !important;
    }

    .thumbnail {
        margin-top: 15px !important;
        margin-bottom: 45px !important;
        min-width: 100%;
    }

    .card-header {
        font-size: 0.9rem !important;
        max-height: 83px;
        white-space: initial;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    .thumbnail .caption {
        font-size: 0.8rem !important;
    }

    #backToTopPanel {
        width: 35px !important;
        height: 30px !important;
        background-size: 35px !important;
    }

    .margin {
        height: 70px !important;
    }
}

@media (max-width: 380px) {

    .yearsText {
        font-size: 0.6rem !important;
    }

    .textSelected {
        font-size: 0.9rem !important;
    }

    .subjectText {
        font-size: 0.8rem !important;
    }

    .modal-title {
        font-size: 0.9rem !important;
    }

    .modal-body {
        font-size: 0.8rem !important;
    }

    .logo {
        width: 50px !important;
        height: 55px !important;
    }

    .header-content {
        padding: 5px !important;
    }

    .header-content h3 {
        font-size: 1.2rem !important;
    }

    .header-content h4 {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 320px) {

    .header-content h3 {
        font-size: 1.1rem !important;
    }

    .header-content h4 {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 301px) {

    .header-content h3 {
        font-size: 1rem !important;
    }

    .header-content h4 {
        font-size: 0.7rem !important;
    }
}

@media (min-width: 992px) {

    .visibleMd {
        display: none;
    }
}

@media (min-width: 1200px) {
    .visibleLg {
        display: none;
    }
}

@media (max-width: 576px) {
    .hiddenXs {
        display: none;
    }
}

@media (max-width: 768px) {
    .hiddenSm {
        display: none;
    }
}

@media (max-width: 992px) {

    .navbar-nav > li + li:before {
        display: none;
    }

    .hiddenMd {
        display: none;
    }
}

@media (max-width: 1200px) {
    .hiddenLg {
        display: none;
    }
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    color: @cText !important;
    font-family: @fOpenSans;
    height: 100%;
    min-height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -70px;
}

.header-content {
    background-color: @cBackground;
    font-family: @fAAntique;
    color: @cTextSelected;
    font-size: 95% !important;
    padding: 25px;
}

.header-content h3 {
    font-weight: bold;
    font-size: 1.8em;
}

.header-content h4 {
    font-weight: normal !important;
    color: @cText;
}

nav .nav-item.border {
    border-color: transparent !important;
}

nav .nav-link {
    /*font-family: "Red October", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: @fOpenSans;
    font-size: 1rem;
    color: @cText !important;
    font-weight: bold;
    /*letter-spacing: 0.15em;*/
}

nav .nav-link.active {
    background-color: @cWhite !important;
    color: @cmL !important;
}

.navbar-static .navbar-nav > li > a,
.navbar-fullwidth .navbar-nav > li > a {
    position: relative;
    display: block;
    color: #313131;
    background: transparent;
    /*line-height: 1.2;*/
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.list-marked li:before {
    content: '\f105';
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    left: 0;
    color: #983a42;
}


.navbar-nav > li.focus > a,
.navbar-nav > li > a:hover {
    color: #983a42 !important;
    background: transparent;
    text-decoration: none;
}

.navbar-nav > li.active > a {
    color: #983a42 !important;
    background: transparent;
}

.navbar-nav > li + li {
    margin-left: 3px;
    padding-left: 18px;
}

.navbar-nav > li + li:before {
    content: '';
    display: inline-block;
    height: 43px;
    width: 2px;
    background-color: @cBackground;
    position: absolute;
    margin-left: -12px;
    transform: rotate(29deg);
}

.btn-default {
    color: #222;
    background-color: transparent;
    border-color: #717171;
    font-family: @fOpenSans;
}

.btn {
    font-family: @fOpenSans;
    /*line-height: 1.75;*/
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 13px;
    padding: 9px 25px;
    transition: .2s;
}

.btn-outline-success {
}

.btn-primary, .btn-outline-success {
    color: #222222 !important;
    background-color: transparent;
    border-color: #717171 !important;
    text-transform: uppercase !important;
    transition: .2s !important;
    font-weight: bold !important;
}



.btn-primary:focus, .btn-primary:hover, .btn-primary:not([disabled]):not(.disabled).active,
.btn-outline-success:focus, .btn-outline-success:hover, .btn-outline-success:not([disabled]):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled):active:focus {
    color: #ffffff !important;
    background-color: #222222 !important;
    border-color: #222222 !important;
    box-shadow: 0 0 0 0.1rem rgba(152, 58, 66, 0.50) !important;
}

button:focus {
    outline: none !important;
}

.advSearch {
    background: @cBGLight;
    /*border: 1px solid @cBorder;*/
    /*border-top: 0;*/
}

.add {
    padding-bottom: 1rem;
}



.modal-content {
    border-radius: 0 !important;
}

.modal-header {
    /*background: @cBackground;*/
    /*border-bottom: 0 !important;*/
    border-bottom: 1px solid @cTextSelected !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.modal-title {
    cursor: default;
    font-weight: bold;
    font-size: 1.3rem;
}

.modalBody {
    padding-bottom: 1rem !important;
}

.modal-body {
    border-bottom: 1px solid @cTextSelected;
    padding-bottom: 2.5rem !important;
}

.modalClose {
    padding: 11px 62px !important;
}

.textSelected {
    color: @cTextSelected;
}

.form-control,
input[type=text], input[type=search] {
    border-width: 1px;
    color: #495057 !important;
    background-color: #FeFeFe;
    border-color: #717171;
    text-transform: uppercase;
    transition: .2s;
    font-weight: bold;
    /*line-height: 1.75em;*/
    border-radius: 0px;
    font-family: @fOpenSans;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #983a42;
    outline: 0;
    box-shadow: rgba(152, 58, 66,0.35) 0 0 0 0.1rem;
}

option:hover {
    background: rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 0 10px 100px rgba(152, 58, 66, 0.50) inset !important;
}

.imputSize {
    width: 500px;
}
/*.logotipe {
    max-width: 55%;
    height: auto;
}*/
.logo {
    background: url('../Content/Images/search/logoBl.png')no-repeat;
    background-size: contain;
    /*border: 1px solid red;*/
    width: 83px;
    height: 92px;
}

.colLogo {
    padding-left: 100px;
}

.banner {
    max-width: 50%;
    height: auto;
}


#backToTopPanel {
    width: 50px;
    height: 50px;
    background: url(Images/up.png) no-repeat;
    background-size: 100%;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 1.3rem;
    right: 1rem;
    cursor: pointer;
    display: none;
}
/*.bannerArh {
    border: 2px solid @cBorder;
}*/
.arhLogo {
    max-width: 150px;
    /*width: 100px;*/
    /*background: @cBorder;*/
    border: 1px solid @cText;
    /*border: 2px solid @cBorder;*/
    /*border-right: 0;*/
}

.inputPlane {
    border: 1px solid #717171;
    background-color: #FeFeFe;
    border-radius: 0px;
}

.inputPlane .form-control {
    border: 0;
    margin: 0 !important;
}

.textPlane {
    padding: 0.7%;
    padding-left: 1%;
    margin: 0 !important;
    border: 0;
    color: #495057 !important;
    text-transform: uppercase;
    transition: .2s;
    font-weight: bold;
    font-family: @fOpenSans;
    /*line-height: 1.75em;*/
}

.imputPlane:hover {
    color: #495057;
    background-color: #fff;
    border-color: #983a42;
    outline: 0;
    box-shadow: rgba(152, 58, 66,0.35) 0 0 0 0.1rem;
}

.config {
    padding: 2px !important;
    padding-left: 1%;
    padding-right: 1%;
    border: 0;
    background: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.config:hover, .config:focus, .config:active {
    background: 0 !important;
    border: 0 !important;
}

.confOn {
    color: #717171;
}

.confOff {
    color: #983a42;
}


.bord {
    position: relative;
    /*border-bottom: 2px solid @cTextSelected;*/
}

.exp {
    text-align: right;
    position: absolute;
    bottom: 16px;
    right: 77%;
    transform: translate(-50%, 50%);
    padding: 1px 10px;
}

.circle {
    /*background-color: #fff;*/
    /*border: 2px solid @cTextSelected;*/
    /*height: 30px;*/
    /*border-radius: 50%;*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 2px;
    /*width: 30px;*/
}

.card {
    position: relative;
    /*border: 1px solid @cBackground;*/
    border: 0;
    border-bottom: 1px solid @cTextSelected;
    border-radius: 0;
}

.thumbnail {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    margin-bottom: 25px;
}

.minCard {
    /*width: 32%;
    display: inline-block;*/
    margin-right: 1rem;
}

.headerSize {
    /*overflow: hidden;
    height: 6rem;*/
    height: 5rem;
}

.arhiveNameSize {
    /*overflow: hidden;*/
    height: 5rem;
    margin-bottom: 1rem;
}

.bodyCardSize {
    height: 11rem;
}

.thumbnail .caption {
    position: relative;
    /*border: 1px solid @cBorder;*/
    font-size: 1rem;
    cursor: default;
}

.caption-bottom .btn {
    padding: 11px 30px;
}

.thumbnail .caption-link {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    padding: 11px 40px;
    /*border-color: @cBorder;*/
    background-color: #fff;
}

.card-header {
    /*color: @cmGr !important;*/
    font-weight: bold;
    text-decoration: none;
    font-family: @fOpenSans;
    border: 0;
    font-size: 1.1rem;
    background-color: @cBackground;
}
/*.card-header {
        background-color: @cBackground;
    }*/
._linkText {
    font-size: 1.15rem;
    font-weight: bold;
    color: @cText !important;
    text-decoration: none;
    font-family: @fOpenSans;
}

._link:hover {
    color: @cmL !important;
}

._link:hover ._linkText {
    font-size: 1.15rem;
    font-weight: bold;
    color: @cmL !important;
    text-decoration: none;
    font-family: @fOpenSans;
}
/* -- CUSTOM -- */
.caheader {
    font-family: @fCony
}

.infoblock, .infoblock .blockquote {
    /*line-height: 1.2em;*/
    font-family: @fOpenSans;
    font-size: 1.1rem !important;
}

.results {
    width: 100%;
    /*border-spacing: 10px;
        border-collapse: separate;*/
}

.results .head {
    font-family: 'Red October';
    padding: 3px 5px 0px 5px;
    background-color: #c7974f;
    color: snow;
}

.results .head td {
    padding: 3px 5px;
}

.results .cnt p {
    font-family: 'Pelagy';
    padding: 3px 5px;
    border: 1px solid #c7974f;
}
/*#endregion */
.margin {
    height: 25px;
}
/*.advanced-fields_search{
    margin-bottom: 5rem;
}*/
.footerDno {
    background-color: @cBackground !important;
    align-items: center;
    justify-content: flex-end;
    /*height: 50px;*/
    padding: 1rem;
    font-size: 0.8rem;
    /*border-right: 1rem solid white;
    border-left: 1rem solid white;*/
}

.footer_line {
}

.footer__href {
    color: @cText;
}

.footer__href:hover {
    color: @cTextSelected;
}

.blockType {
    height: 40rem;
    overflow: hidden;
}

.cardLogoFund {
    max-width: 32px;
    /*background-image: url('Images/logoType/fund.png');*/
}

.cardTypeHeader {
    color: rgb(49, 49, 49);
    font-weight: bold;
    text-decoration: none;
    font-family: @fOpenSans;
    font-size: 1.1rem;
}

#loadImg {
    position: absolute;
    z-index: 1000;
    display: none
}

.pagination {
    display: inline-block;
}

.pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 2px solid #b6b6b6 !important;
    margin: 0 4px;
}

.pagination button.active {
    background-color: #983a42 !important;
    color: white !important;
    border: 2px solid #983a42 !important;
}

.pagination .btn-outline-success:not([disabled]):not(.disabled).active {
    background-color: transparent;
    box-shadow: none;
}

.pagination .disabled {
    color: #b6b6b6 !important;
    background-color: #FFF !important;
    border-color: #b6b6b6 !important;
}
/*.pagination .pageBtnGo:hover {
    color: #b6b6b6 !important;
    background-color: #FFF !important;
}*/
.pagination button:hover:not(.active) {
    color: #ffffff !important;
    background-color: #222222 !important;
    border-color: #222222 !important;
    box-shadow: 0 0 0 0.1rem rgba(152, 58, 66, 0.5);
}

.pagination .disabled:hover:not(.active) {
    color: #b6b6b6 !important;
    background-color: #FFF !important;
    border-color: #b6b6b6 !important;
    box-shadow: none;
    cursor: default;
}

.pagination .btn.disabled, .btn:disabled {
    opacity: .55;
}

.pageBtnGo {
    display: inline-block;
    float: left;
    padding: 8px 16px;
    cursor: default;
    font-size: larger;
}

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #b5b5b5ad;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    /*left: 50%;
    top: 50%;*/
    /*background-size: 15%;*/
    background-size: 100px;
    background: url('Images/earthloader.svg')no-repeat center;
    /*margin: -16px 0 0 -16px;*/
}

.highlight {
    background-color: #983a42 !important;
    color: white !important;
    padding: 0px 3px 0px 3px;
    text-transform: uppercase !important;
}

.colorForm {
    background-color: @cBGLight !important;
    border: solid 1px rgb(152, 58, 66);
    cursor: default;
}

.loginHeader {
    font-size: 1.4rem;
    text-transform: uppercase;
}

#myform div hr {
    border-top: solid 1px @cBlack;
}

#myform div div ul li {
    color: #983a42;
}

.mbsc-material .mbsc-input input:focus, .mbsc-material .mbsc-input textarea:focus, .mbsc-material .mbsc-input select:focus ~ input {
    border-bottom: 1px solid #717171 !important;
}

.mbsc-material .mbsc-input input, .mbsc-material .mbsc-input textarea, .mbsc-input input, .mbsc-input select, .mbsc-input textarea {
    padding-left: 1rem !important;
    display: block;
    width: 100%;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-width: 1px !important;
    color: #495057 !important;
    background-color: #FeFeFe !important;
    border-color: #717171 !important;
    text-transform: uppercase !important;
    transition: .2s !important;
    font-weight: bold !important;
    border-radius: 0px !important;
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

.mbsc-btn {
    color: #222222 !important;
    background-color: transparent !important;
    border: 1px solid #717171 !important;
    border-radius: unset !important;
    text-transform: uppercase !important;
    transition: .2s !important;
    font-weight: bold !important;
    box-shadow: none !important;
}

.openFeedback {
    position: fixed;
    right: 7rem;
    bottom: 0.7rem;
    background-image: url(Images/feedback.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 55px;
    height: 55px;
    border: none;
    background-color: transparent;
    display: none;
}

.openFeedback:hover {
    transform: scale(1.1);
}

.openFeedback:focus {
    box-shadow: none;
}

.highlight {
    background-color: #983a42 !important;
    color: white !important;
    padding: 0px 3px 0px 3px;
    text-transform: uppercase !important;
}

.accordBtn {
    text-align: left;
    cursor: pointer;
}

.accordBtn:focus {
    outline: none;
}

.cardAccord {
    border-bottom: 1px solid #983a42 !important;
    margin-bottom: 1rem;
}

.fa-downAccord {
    font-size: 2rem !important;
    padding-top: 0.2rem;
}

.accordBlockP {
    padding-bottom: 4rem;
}

.pagingBlock {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.cursorDefault {
    cursor: default;
}

.alertError {
    color: #983a42;
    border-radius: unset;
    background-color: unset;
    text-transform: uppercase;
    transition: .2s;
    font-weight: bold;
    padding: 0rem 0.7rem;
    border: none;
    font-size: 0.9rem;
    cursor: default;
}
.questBlock{
    /*height: 100%;*/
}
.headerTable {
    background-color: @cBorder;
    font-size: 0.9rem;
}
/*.headerTable div {
    margin-left: -0.5rem;
}*/
.strRow {
    border-bottom: 1px solid #983a42;
    height: 2.85rem;
    font-size: 0.85rem;
}
.linkDetails{
    
    cursor: pointer;
}
.linkDetails:hover {
    color: #983a42 !important;
    font-weight: 600;
}
.textMessage {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Number{
    max-width: 2rem;
}
.colPhone {
    min-width: 7rem;
    max-width: 8rem;
}
.colEmail {
    min-width: 8rem;
    max-width: 12rem;
}
.autoSize {
    min-width: 10rem;
    max-width: 12rem;
}
.marginBlock{
    padding-bottom: 5.5rem;
}
.marginBlockBig {
    padding-bottom: 5.5rem;
}