﻿
@{
    ViewBag.Title = "О системе";
    Layout = "~/Views/Shared/_NewSearchLayout.cshtml";
}
<nav class="navbar navbar-expand-lg  justify-content-between navbar-light bg-light">
    <h6 class="cardTypeHeader mb-0">Информация о Центральном Фондовом Каталоге</h6>
</nav>
<div class="container pt-3 pb-5">    
    <blockquote class="blockquote infoblock pb-3">
        <p>
            Центральный фондовый каталог (ЦФК) – программный комплекс, разработанный по заказу Федерального архивного агентства.

        </p>
        <p>
            Основное предназначение ЦФК – предоставление пользователям информации об архивных фондах, хранящихся во всех федеральных архивах, государственных и муниципальных архивах субъектов Российской Федерации.

        </p>
        <p>
            «Центральный фондовый каталог» осуществляет поиск информации путем ввода слова (сочетания слов, даты и т.п.) в поисковую строку, что позволяет получить перечень названий фондов, содержащих запрашиваемую информацию (простой поиск). При желании можно детализировать область поиска, выбрав архив (архивы) и атрибуты описания архивных фондов (название фонда, аннотация фонда, историческая справка фонда, название описи, аннотация описи, название единицы хранения).

        </p>
        <p>
            Замечания и предложения по работе Центрального Фондового Каталога просим направлять по адресу: <email>support@archives.ru</email>

        </p>
        <p>
        По состоянию на 31 декабря 2015 г. в ЦФК включены сведения об архивных фондах 13&nbsp;федеральных архивов и 2234&nbsp;государственных и муниципальных архивов 59&nbsp;субъектов Российской Федерации, в том числе:</p>
    <p>
        федеральных архивов:
    </p>

    <ul>
        <li>Государственного архива Российской Федерации (ГА РФ) &ndash; 3322 фондов; </li>
        <li>Российского государственного архива древних актов (РГАДА) &ndash; 1415 фондов; </li>
        <li>Российского государственного исторического архива (РГИА) &ndash; 1368 фондов; </li>
        <li>Российского государственного военно-исторического архива (РГВИА) &ndash; 12940 фондов; </li>
        <li>Российского государственного архива военно-морского флота (РГАВМФ) &ndash; 3629 фондов; </li>
        <li>Российского государственного военного архива (РГВА) &ndash; 41915 фондов; </li>
        <li>Российского государственного исторического архива Дальнего Востока (РГИАДВ) &ndash; 6184 фондов;</li>
        <li>Российского государственного архива научно-технической документации (РГАНТД) &ndash; 590 фондов;</li>
        <li>Филиала Российского государственного архива научно-технической документации (РГАНТД) в г.&nbsp;Самаре &ndash; 889&nbsp;фондов;</li>
        <li>Российского государственного архива социально-политической истории (РГАСПИ) &ndash; 695 фондов;</li>
        <li>Российского государственного архива экономики (РГАЭ) &ndash; 3075 фондов; </li>
        <li>Российского государственного архива литературы и искусства (РГАЛИ) &ndash; 3386 фондов. </li>
        <li>Российского государственного архива новейшей истории (РГАНИ) &ndash; 68 фондов. </li>
    </ul>


    <p>
        государственных и муниципальных архивов:
    </p>
    <ul>
        <li>Республики Башкортостан &ndash; 19075 фондов;</li>
        <li>Республики Дагестан &ndash; 10042 фонда;</li>
        <li>Карачаево-Черкесской Республики &ndash; 2358 фондов;</li>
        <li>Республики Карелия &ndash; 7386 фондов;</li>
        <li>Республики Коми &ndash; 7023 фонда;</li>
        <li>Республики Марий Эл &ndash; 9745 фондов;</li>
        <li>Республики Мордовия &ndash; 11675 фондов;</li>
        <li>Республики Саха (Якутия) &ndash; 3778 фондов;</li>
        <li>Республики Северная Осетия-Алания &ndash; 16560 фондов;</li>
        <li>Республики Татарстан &ndash; 28226 фондов;</li>
        <li>Удмуртской Республики &ndash; 15056 фондов;</li>
        <li>Республики Хакасия &ndash; 5047 фондов;<br />&nbsp;</li>
        <li>Алтайского края &ndash; 17559 фондов;</li>
        <li>Забайкальского края &ndash; 8351 фонд;</li>
        <li>Камчатского края &ndash; 990 фондов;</li>
        <li>Краснодарского края &ndash; 35125 фондов;</li>
        <li>Красноярского края &ndash; 22098 фондов;</li>
        <li>Пермского края  &ndash; 13973 фонда;</li>
        <li>Приморского края &ndash; 7560 фондов;</li>
        <li>Ставропольского края &ndash; 38741 фонд;</li>
        <li>Хабаровского края &ndash; 11288 фондов;<br />&nbsp;</li>
        <li>Ханты-Мансийского автономного округа &ndash; 4279 фондов;</li>
        <li>Ямало-Ненецкого автономного округа &ndash; 2984 фонда;<br />&nbsp;</li>
        <li>Амурской области &ndash; 6825 фондов;</li>
        <li>Архангельской области &ndash; 10035 фондов;</li>
        <li>Белгородской области &ndash; 9529 фондов;</li>
        <li>Брянской области &ndash; 19456 фондов;</li>
        <li>Владимирской области &ndash; 12746 фондов;</li>
        <li>Волгоградской области &ndash; 21730 фондов;</li>
        <li>Вологодской области &ndash; 17678 фондов;</li>
        <li>Ивановской области &ndash; 5979 фондов;</li>
        <li>Иркутской области &ndash; 17821 фонд;</li>
        <li>Калининградской области &ndash; 7779 фондов;</li>
        <li>Кемеровской области &ndash; 11928 фондов;</li>
        <li>Кировской области &ndash; 19538 фондов;</li>
        <li>Костромской области &ndash; 16873 фонда;</li>
        <li>Курганской области &ndash; 11955 фондов;</li>
        <li>Курской области &ndash; 10544 фонда;</li>
        <li>Ленинградской области &ndash; 15431 фонд;</li>
        <li>Липецкая области &ndash; 18240 фондов;</li>
        <li>Мурманской области &ndash; 6537 фондов;</li>
        <li>Нижегородской области &ndash; 33346 фондов;</li>
        <li>Новгородской области &ndash; 12218 фондов;</li>
        <li>Новосибирской области &ndash; 13674 фонда;</li>
        <li>Омской области &ndash; 7770 фондов;</li>
        <li>Оренбургской области &ndash; 23344 фонда;</li>
        <li>Орловской области &ndash; 5159 фондов;</li>
        <li>Псковской области &ndash; 14262 фонда;</li>
        <li>Ростовской области &ndash; 16719 фондов;</li>
        <li>Самарской области &ndash; 27898 фондов;</li>
        <li>Саратовской области &ndash; 2034 фонда;</li>
        <li>Сахалинской области &ndash; 787 фондов;</li>
        <li>Свердловской области &ndash; 31296 фондов;</li>
        <li>Тамбовской области &ndash; 11810 фондов;</li>
        <li>Тверской области &ndash; 18710 фондов;</li>
        <li>Томской области &ndash; 9139 фондов;</li>
        <li>Тюменской области &ndash; 12710 фондов;</li>
        <li>Ярославской области &ndash; 36994 фонда;</li>
        <li>Санкт-Петербурга &ndash; 19685 фондов</li>
        <br />

    </ul>
    </blockquote>
</div>


