﻿
@{
    ViewBag.Title = "О системе";
    Layout = "~/Views/Shared/_NewSearchLayout.cshtml";
}
<nav class="navbar navbar-expand-lg  justify-content-between navbar-light bg-light">
    <h6 class="cardTypeHeader mb-0">Информация о Центральном Фондовом Каталоге</h6>
</nav>
<div class="container pt-3 pb-5">    
    <blockquote class="blockquote infoblock pb-3">
        <p>
            Центральный фондовый каталог (ЦФК) – программный комплекс, разработанный по заказу Федерального архивного агентства.

        </p>
        <p>
            Основное предназначение ЦФК – предоставление пользователям информации об архивных фондах, хранящихся во всех федеральных архивах, государственных и муниципальных архивах субъектов Российской Федерации.

        </p>
        <p>
            «Центральный фондовый каталог» осуществляет поиск информации путем ввода слова (сочетания слов, даты и т.п.) в поисковую строку, что позволяет получить перечень названий фондов, содержащих запрашиваемую информацию (простой поиск). При желании можно детализировать область поиска, выбрав архив (архивы) и атрибуты описания архивных фондов (название фонда, аннотация фонда, историческая справка фонда, название описи, аннотация описи, название единицы хранения).

        </p>
        <p>
            Замечания и предложения по работе Центрального Фондового Каталога просим направлять по адресу: <email>support@archives.ru</email>

        </p>
        <p>
        По состоянию на 13 декабря 2020 г. в ЦФК включены сведения о 959 576 архивных фондах 13&nbsp;федеральных архивов и 2225&nbsp;государственных и муниципальных архивов 62&nbsp;субъектов Российской Федерации, в том числе:</p>
    <p>
        федеральных архивов:
    </p>

    <ul>
        <li>Государственного архива Российской Федерации (ГА РФ) &ndash; 3372 фондоа; </li>
        <li>Российского государственного архива древних актов (РГАДА) &ndash; 1415 фондов; </li>
        <li>Российского государственного исторического архива (РГИА) &ndash; 1369 фондов; </li>
        <li>Российского государственного военно-исторического архива (РГВИА) &ndash; 12925 фондов; </li>
        <li>Российского государственного архива военно-морского флота (РГАВМФ) &ndash; 3629 фондов; </li>
        <li>Российского государственного военного архива (РГВА) &ndash; 42063 фонда; </li>
        <li>Российского государственного исторического архива Дальнего Востока (РГИАДВ) &ndash; 6187 фондов;</li>
        <li>Российского государственного архива научно-технической документации (РГАНТД) &ndash; 590 фондов;</li>
        <li>Филиала Российского государственного архива научно-технической документации (РГАНТД) в г.&nbsp;Самаре &ndash; 906&nbsp;фондов;</li>
        <li>Российского государственного архива социально-политической истории (РГАСПИ) &ndash; 702 фонда;</li>
        <li>Российского государственного архива экономики (РГАЭ) &ndash; 3117 фондов; </li>
        <li>Российского государственного архива литературы и искусства (РГАЛИ) &ndash; 3386 фондов. </li>
        <li>Российского государственного архива новейшей истории (РГАНИ) &ndash; 68 фондов. </li>
    </ul>


    <p>
        государственных и муниципальных архивов:
    </p>
    <ul>
        <li>Республики Башкортостан &ndash; 17513 фондов;</li>
        <li>Республики Дагестан &ndash; 6184 фонда;</li>
        <li>Карачаево-Черкесской Республики &ndash; 1974 фонда;</li>
        <li>Республики Карелия &ndash; 7418 фондов;</li>
        <li>Республики Коми &ndash; 4625 фондов;</li>
        <li>Республики Марий Эл &ndash; 2406 фондов;</li>
        <li>Республики Мордовия &ndash; 9847 фондов;</li>
        <li>Республики Саха (Якутия) &ndash; 4458 фондов;</li>
        <li>Республики Северная Осетия-Алания &ndash; 3631 фонд;</li>
        <li>Республики Татарстан &ndash; 14563 фонда;</li>
        <li>Удмуртской Республики &ndash; 12160 фондов;</li>
        <li>Республики Хакасия &ndash; 1788 фондов;<br />&nbsp;</li>
        <li>Алтайского края &ndash; 28873 фонда;</li>
        <li>Забайкальского края &ndash; 5459 фондов;</li>
        <li>Камчатского края &ndash; 730 фондов;</li>
        <li>Краснодарского края &ndash; 11893 фонда;</li>
        <li>Красноярского края &ndash; 7533 фонда;</li>
        <li>Пермского края  &ndash; 1646 фондов;</li>
        <li>Приморского края &ndash; 7983 фонда;</li>
        <li>Ставропольского края &ndash; 22233 фонда;</li>
        <li>Хабаровского края &ndash; 183 фонда;<br />&nbsp;</li>
        <li>Ханты-Мансийского автономного округа &ndash; 1554 фонда;</li>
        <li>Ямало-Ненецкого автономного округа &ndash; 839 фондов;<br />&nbsp;</li>
        <li>Амурской области &ndash; 4448 фондов;</li>
        <li>Архангельской области &ndash; 8748 фондов;</li>
        <li>Белгородской области &ndash; 5126 фондов;</li>
        <li>Брянской области &ndash; 11624 фонда;</li>
        <li>Владимирской области &ndash; 7800 фондов;</li>
        <li>Волгоградской области &ndash; 14332 фонда;</li>
        <li>Вологодской области &ndash; 11824 фонда;</li>
        <li>Ивановской области &ndash; 5979 фондов;</li>
        <li>Иркутской области &ndash; 11814 фондов;</li>
        <li>Калининградской области &ndash; 4745 фондов;</li>
        <li>Кемеровской области &ndash; 4710 фондов;</li>
        <li>Кировской области &ndash; 16249 фондов;</li>
        <li>Костромской области &ndash; 6925 фондов;</li>
        <li>Курганской области &ndash; 7036 фондов;</li>
        <li>Курской области &ndash; 9597 фондов;</li>
        <li>Ленинградской области &ndash; 3137 фондов;</li>
        <li>Липецкой области &ndash; 15593 фонда;</li>
        <li>Мурманской области &ndash; 6126 фондов;</li>
        <li>Нижегородской области &ndash; 23466 фондов;</li>
        <li>Новгородской области &ndash; 9855 фондов;</li>
        <li>Новосибирской области &ndash; 10244 фонда;</li>
        <li>Омской области &ndash; 22046 фондов;</li>
        <li>Оренбургской области &ndash; 13621 фонд;</li>
        <li>Орловской области &ndash; 7744 фонда;</li>
        <li>Псковской области &ndash; 4416 фондов;</li>
        <li>Ростовской области &ndash; 16700 фондов;</li>
        <li>Самарской области &ndash; 12925 фондов;</li>
        <li>Саратовской области &ndash; 2120 фондов;</li>
        <li>Сахалинской области &ndash; 700 фондов;</li>
        <li>Свердловской области &ndash; 22282 фонда;</li>
        <li>Тамбовской области &ndash; 11690 фондов;</li>
        <li>Тверской области &ndash; 5944 фонда;</li>
        <li>Томской области &ndash; 7705 фондов;</li>
        <li>Тюменской области &ndash; 7532 фонда;</li>
        <li>Ярославской области &ndash; 12305 фондов;</li>
        <li>Санкт-Петербурга &ndash; 34282 фонда</li>
        <br />

    </ul>
    </blockquote>
</div>


