﻿@using CFC.SearchFund.Models
@model CFC.SearchFund.Models.InfoDetails

@{
    ViewBag.Title = "DetаilsModal";
}





    <div class="modal-header caption">
       
            <div class="container p-0">
              <div class="row justify-content-between">
                <div class="col-8">
                     <h5 class="modal-title">
                         
            @{ 
                if (Model.archive != null)
                {
            <a>@Model.archive.NAME_SHORT</a>
                } else {
                    <a>Подробная информация</a>
                    }
                }
                     </h5>
 @{ 
                 if (Model.subject != null)
            {
                    <h6 class="m-0 subjectText">
                        @Model.subject.NAME
                    </h6>
            }

             }
              
            </div>
            <div class="col-4 text-right align-self-end pl-0">
               @{ 
                   if (Model.unit != null)
                   {
                    <h6 class="text-right m-0 yearsText">
               
                <b>
                    @(Model.unit.START_YEAR.HasValue ? Model.unit.START_YEAR.Value.ToString() : "...")
                    -
                    @(Model.unit.END_YEAR.HasValue ? Model.unit.END_YEAR.Value.ToString() : "...")
                </b>
            </h6>
                }
                else
                {
                    if (Model.inventory != null)
                    {
                         <h6 class="text-right m-0 yearsText">
                        @(Model.inventory.DOC_START_YEAR.HasValue ? Model.inventory.DOC_START_YEAR.Value.ToString() : "...")
                        -
                        @(Model.inventory.DOC_END_YEAR.HasValue ? Model.inventory.DOC_END_YEAR.Value.ToString() : "...")
                        </h6>
                        }
                        else
                        {
                            if (Model.fund != null)
                            {
                             <h6 class="text-right m-0 yearsText">               
                                <b>
                                    @(Model.fund.DOC_START_YEAR.HasValue ? Model.fund.DOC_START_YEAR.Value.ToString() : "...")
                                    -
                                    @(Model.fund.DOC_END_YEAR.HasValue ? Model.fund.DOC_END_YEAR.Value.ToString() : "...")  гг.
                                </b>
                            </h6>
                            }
                        }
                    } 
                }
                </div> 
              </div>
            </div>
        
        <button type="button" class="close" data-dismiss="modal">&times;</button>

    </div>
    <div class="modalBody thumbnail">
        <div class="modal-body ">
            <div class="textModal">
                @{

                    if (Model.archive != null)
            {
            <h5 class="textSelected">
                Полное название архива:
            </h5>
            <p>
                @Model.archive.NAME
            </p>
            }
            if (Model.unit != null)
            {
          
            <h5 class="textSelected">
                Единица № @Model.unit.UNIT_NUM :
            </h5>
            <p>
                @Model.unit.NAME
            </p>
            }
            if (Model.inventory != null)
            {
            
            <h5 class="textSelected">
                Опись № @Model.inventory.INVENTORY_NUM :
            </h5>
            <p>
                @Model.inventory.INVENTORY_NAME
            </p>

            if (!String.IsNullOrWhiteSpace(Model.inventory.ANNOTATE)) 
                { 
            <h5 class="textSelected">
                Аннотация описи:
            </h5>
            <p>
                @Model.inventory.ANNOTATE
            </p>
            }
           }
            if (Model.fund != null)
            {
            
            <h5 class="textSelected">
                Фонд № @Model.fund.FUND_NUM :
            </h5>
            <p>
                @Model.fund.FUND_NAME_FULL
            </p>

            if (!String.IsNullOrWhiteSpace(Model.fund.ANNOTATE))
             {
            <h5 class="textSelected">
                Аннотация фонда:
            </h5>
            <p>
                @Model.fund.ANNOTATE
            </p> 
             }
            if (!String.IsNullOrWhiteSpace(Model.fund.FUND_HISTORY))
              {
            <h5 class="textSelected">
                Историческая справка фонда:
            </h5>
            <p>
                @Model.fund.FUND_HISTORY
            </p>
            }
            }
            
                }
            </div>

            <button type="button" class="btn btn-outline-success btn-default caption-link modalClose" data-dismiss="modal">Закрыть</button>
        </div>

    </div>



