﻿@using CFC.SearchFund.Models
@model IEnumerable<CFCSearch_Result>

@{
    ViewBag.Title = "Результаты поиска";
}


<div class="container pt-md-4">

    <div>
        @*<h5>Найдено:</h5>@* @Model.Count</h5>*@

    </div>
    <div class="modalDetails">
        <!-- Modal -->
        <div id="detailsModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg ">

                <!-- Modal content-->
                <div class="modal-content ">


                </div>

            </div>
        </div>
    </div>

    <div>

        <div>
            <p class="blockquote">Найдено @Model.Count() результатов.</p>
        </div>


        @{

            if (Model.Count() == 0)
            {
                <div>
                    <p class="blockquote">
                        Извините, по Вашему запросу ничего не найдено. Попробуйте повторить запрос, изменив некоторые фильтры.
                    </p>
                </div>
            }
            else
            {

                //foreach (var gitem in Model.GroupBy(l => l.Header))
                //{
                @*<div>
                        <p class="blockquote">Найдено @Model результатов:</p>
                    </div>*@
                <div class="@*blockType*@ container">
                    <div class="row">
                        <div class=" pt-md-3 thumbnail minCard col">
                            <div class="card caption">
                                <div class="card-header headerSize text-center">
                                    <img class="cardLogoFund" src="~/Content/Images/logoType/fund.png"><img />
                                    <h6 class="mt-2 cardTypeHeader"> Фонды </h6>
                                </div>
                                <div class="card-body bodyCardSize">
                                    @*<h6 class="card-title">@item.ArchiveName</h6>*@
                                    <div class="arhiveNameSize"><p class="card-text"> <i class="fa fa-bookmark fa-sm" style="color:#983a42;"></i> Найдено: -- фондов</p></div>
                                    <a class="btn btn-outline-success caption-link btn-default " data-toggle="modal" data-target="#detailsModal">Показать все</a>
                                </div>
                            </div>
                        </div>
                        <div class="margin">
                        </div>


                        <div class=" pt-md-3 thumbnail minCard col">
                            <div class="card caption ">
                                <div class="card-header headerSize text-center">
                                    <img class="cardLogoFund" src="~/Content/Images/logoType/history.png"><img />
                                    <h6 class="mt-2 cardTypeHeader"> Исторические справки фондов </h6>
                                </div>
                                <div class="card-body bodyCardSize">
                                    @*<h6 class="card-title">@item.ArchiveName</h6>*@
                                    <div class="arhiveNameSize"><p class="card-text"> <i class="fa fa-bookmark fa-sm" style="color:#983a42;"></i> Найдено: -- исторических справок фондов</p></div>
                                    <a class="btn btn-outline-success caption-link btn-default " data-toggle="modal" data-target="#detailsModal">Показать все</a>
                                </div>
                            </div>
                        </div>

                        <div class="margin">
                        </div>


                        <div class=" pt-md-3 thumbnail minCard col">
                            <div class="card caption ">
                                <div class="card-header headerSize text-center">
                                    <img class="cardLogoFund" src="~/Content/Images/logoType/annotatFund.png"><img />
                                    <h6 class="mt-2 cardTypeHeader"> Аннотации фондов </h6>
                                </div>
                                <div class="card-body bodyCardSize">
                                    @*<h6 class="card-title">@item.ArchiveName</h6>*@
                                    <div class="arhiveNameSize"><p class="card-text"> <i class="fa fa-bookmark fa-sm" style="color:#983a42;"></i> Найдено: -- аннотаций фондов</p></div>
                                    <a class="btn btn-outline-success caption-link btn-default " data-toggle="modal" data-target="#detailsModal">Показать все</a>
                                </div>
                            </div>
                        </div>

                        <div class="margin">
                        </div>
                    </div>
                    <div class="row">

                        <div class=" pt-md-3 thumbnail minCard col">
                            <div class="card caption ">
                                <div class="card-header headerSize text-center">
                                    <img class="cardLogoFund" src="~/Content/Images/logoType/list.png"><img />
                                    <h6 class="mt-2 cardTypeHeader"> Описи </h6>
                                </div>
                                <div class="card-body bodyCardSize">
                                    @*<h6 class="card-title">@item.ArchiveName</h6>*@
                                    <div class="arhiveNameSize"><p class="card-text"> <i class="fa fa-bookmark fa-sm" style="color:#983a42;"></i> Найдено: -- описей</p></div>
                                    <a class="btn btn-outline-success caption-link btn-default " data-toggle="modal" data-target="#detailsModal">Показать все</a>
                                </div>
                            </div>
                        </div>

                        <div class="margin">
                        </div>


                        <div class=" pt-md-3 thumbnail minCard col">
                            <div class="card caption ">
                                <div class="card-header headerSize text-center">
                                    <img class="cardLogoFund" src="~/Content/Images/logoType/annotatList.png"><img />
                                    <h6 class="mt-2 cardTypeHeader"> Аннотации описей </h6>
                                </div>
                                <div class="card-body bodyCardSize">
                                    @*<h6 class="card-title">@item.ArchiveName</h6>*@
                                    <div class="arhiveNameSize"><p class="card-text"> <i class="fa fa-bookmark fa-sm" style="color:#983a42;"></i> Найдено: -- аннотаций описей</p></div>
                                    <a class="btn btn-outline-success caption-link btn-default " data-toggle="modal" data-target="#detailsModal">Показать все</a>
                                </div>
                            </div>
                        </div>

                        <div class="margin">
                        </div>


                        <div class=" pt-md-3 thumbnail minCard col">
                            <div class="card caption ">
                                <div class="card-header headerSize text-center">
                                    <img class="cardLogoFund" src="~/Content/Images/logoType/doc.png"><img />
                                    <h6 class="mt-2 cardTypeHeader"> Единицы хранения </h6>
                                </div>
                                <div class="card-body bodyCardSize">
                                    @*<h6 class="card-title">@item.ArchiveName</h6>*@
                                    <div class="arhiveNameSize"><p class="card-text"> <i class="fa fa-bookmark fa-sm" style="color:#983a42;"></i> Найдено: -- единиц хранения</p></div>
                                    <a class="btn btn-outline-success caption-link btn-default " data-toggle="modal" data-target="#detailsModal">Показать все</a>
                                </div>
                            </div>

                        </div>
                        <div class="margin">
                        </div>
                    </div>
                </div>
                <img id="loadImg" src="~/Content/Images/load.gif" />
                <div class="margin">
                </div>
            }
        }

    </div>
</div>
<script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".openDetails").click(function (e) {
                var id = $(this).attr("dataID");
                var kind = $(this).attr("dataKind");
                e.preventDefault();
                $.get('@Url.Action("DetailsModal","Search" )' + '?ID=' + id + '&Kind=' + kind, function (data) {
                    @*$.get('@Url.Action("DetailsModal","Search" )',function (data) {*@
                    $('.modal-content').html(data);
                });
            });
    })
     @*$(function () {
            $.ajaxSetup({ cache: false });
         $(".seeAll").click(function (e) {
             var type = $(this).attr("dataType");
             console.log(type);
                e.preventDefault();
                $.get('@Url.Action("SleepResult", "Search" )' + '?TYPE=' + type , function (data) {
                    $('.contentResultType').html(data);
                });
            });
        })*@
    $(function () {
        $.ajaxSetup({ cache: false });
            var type = "fuf";
            console.log(type);
             //e.preventDefault();
        $.get('@Url.Action("SleepResult", "Search" )' + '?TYPE=' + type, onAjaxSuccess)
        StartLoadingAnimation();
    })
    function onAjaxSuccess(data) {
        console.log("result");
        console.log(data);
        StopLoadingAnimation();
    }
    function StartLoadingAnimation() // - функция запуска анимации
{
  // найдем элемент с изображением загрузки и уберем невидимость:
  var imgObj = $("#loadImg");
        imgObj.show();


  // вычислим в какие координаты нужно поместить изображение загрузки,
  // чтобы оно оказалось в серидине страницы:
  var centerY = $(window).scrollTop() + ($(window).height() + imgObj.height())/2;
  var centerX = $(window).scrollLeft() + ($(window).width() + imgObj.width())/2;

  // поменяем координаты изображения на нужные:
        imgObj.offset({ top: centerY, left: centerX });
}

function StopLoadingAnimation() // - функция останавливающая анимацию
{
  $("#loadImg").hide();
}
</script>

