﻿@using CFC.SearchFund.Models
@model CFC.SearchFund.Models.AdvancedModel

@{
    ViewBag.Title = "Результаты поиска";
}

<style>
    .card {
        border: solid 1px rgb(152, 58, 66);
    }

    .card-val {
        color: #983a42;
        font-size: 4.2rem;
        margin-top: -20px;
        font-weight: bold;
    }

    .loadingData {
        background-image: url(./Content/Images/loading.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

        .loadingData > .arhiveNameSize {
            display: none;
        }
</style>

@{


    @Html.TextBoxFor(model => model.AllResultsOfType, new { @id = "AllResultsOfType", @style = "display:none" })

    <div class="@*blockType*@ container mb-5">
        <div class="row">
            <div class=" pt-md-3 thumbnail minCard col">
                <div class="card caption text-center ">
                    <div class="card-header headerSize">
                        <img class="cardLogoFund" src="~/Content/Images/logoType/fund.png"><img />
                        <h6 class="mt-2 cardTypeHeader"> Фонды </h6>
                    </div>
                    <div class="card-body bodyCardSize loadingData" data-id="@CFC.SearchFund.Models.SearchRepo.SearchType.InFundName">
                        <div class="arhiveNameSize">
                            <p class="card-text">
                                <i class="fa fa-bookmark fa-sm" style="color:#983a42;"></i> Найдено:
                            </p>
                            <div class="card-val"></div>
                        </div>
                        <button class="btn btnForm btn-outline-success caption-link btn-default" onclick="sendCount(this)" type="submit" name="DetailsViewKey" value="@CFC.SearchFund.Models.SearchRepo.SearchType.InFundName">Показать все</button>
                    </div>
                </div>
            </div>

            <div class=" pt-md-3 thumbnail minCard col">
                <div class="card caption text-center">
                    <div class="card-header headerSize">
                        <img class="cardLogoFund" src="~/Content/Images/logoType/history.png"><img />
                        <h6 class="mt-2 cardTypeHeader"> Исторические справки фондов </h6>
                    </div>
                    <div class="card-body bodyCardSize loadingData" data-id="@CFC.SearchFund.Models.SearchRepo.SearchType.InFundHistory">
                        <div class="arhiveNameSize">
                            <p class="card-text">
                                <i class="fa fa-bookmark fa-sm" style="color:#983a42;"></i> Найдено:
                            </p>
                            <div class="card-val"></div>
                        </div>
                        <button class="btn btnForm btn-outline-success caption-link btn-default" onclick="sendCount(this)" type="submit" name="DetailsViewKey" value="@CFC.SearchFund.Models.SearchRepo.SearchType.InFundHistory">Показать все</button>
                    </div>
                </div>
            </div>

            <div class=" pt-md-3 thumbnail minCard col">
                <div class="card caption text-center">
                    <div class="card-header headerSize text-center">
                        <img class="cardLogoFund" src="~/Content/Images/logoType/annotatFund.png"><img />
                        <h6 class="mt-2 cardTypeHeader"> Аннотации фондов </h6>
                    </div>
                    <div class="card-body bodyCardSize loadingData" data-id="@CFC.SearchFund.Models.SearchRepo.SearchType.InFundAnnotate">
                        <div class="arhiveNameSize">
                            <p class="card-text">
                                <i class="fa fa-bookmark fa-sm" style="color:#983a42;"></i> Найдено:
                            </p>
                            <div class="card-val"></div>
                        </div>
                        <button class="btn btnForm btn-outline-success caption-link btn-default" onclick="sendCount(this)" type="submit" name="DetailsViewKey" value="@CFC.SearchFund.Models.SearchRepo.SearchType.InFundAnnotate">Показать все</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class=" pt-md-3 thumbnail minCard col">
                <div class="card caption text-center">
                    <div class="card-header headerSize text-center">
                        <img class="cardLogoFund" src="~/Content/Images/logoType/list.png"><img />
                        <h6 class="mt-2 cardTypeHeader"> Описи </h6>
                    </div>
                    <div class="card-body bodyCardSize loadingData" data-id="@CFC.SearchFund.Models.SearchRepo.SearchType.InInventoryName">
                        <div class="arhiveNameSize">
                            <p class="card-text">
                                <i class="fa fa-bookmark fa-sm" style="color:#983a42;"></i> Найдено:
                            </p>
                            <div class="card-val"></div>
                        </div>
                        <button class="btn btnForm btn-outline-success caption-link btn-default" onclick="sendCount(this)" type="submit" name="DetailsViewKey" value="@CFC.SearchFund.Models.SearchRepo.SearchType.InInventoryName">Показать все</button>
                    </div>
                </div>
            </div>

            <div class=" pt-md-3 thumbnail minCard col">
                <div class="card caption text-center">
                    <div class="card-header headerSize text-center">
                        <img class="cardLogoFund" src="~/Content/Images/logoType/annotatList.png"><img />
                        <h6 class="mt-2 cardTypeHeader"> Аннотации описей </h6>
                    </div>
                    <div class="card-body bodyCardSize loadingData" data-id="@CFC.SearchFund.Models.SearchRepo.SearchType.InInventoryAnnotate">
                        <div class="arhiveNameSize">
                            <p class="card-text">
                                <i class="fa fa-bookmark fa-sm" style="color:#983a42;"></i> Найдено:
                            </p>
                            <div class="card-val"></div>
                        </div>
                        <button class="btn btnForm btn-outline-success caption-link btn-default" onclick="sendCount(this)" type="submit" name="DetailsViewKey" value="@CFC.SearchFund.Models.SearchRepo.SearchType.InInventoryAnnotate">Показать все</button>
                    </div>
                </div>
            </div>

            <div class=" pt-md-3 thumbnail minCard col">
                <div class="card caption text-center">
                    <div class="card-header headerSize text-center">
                        <img class="cardLogoFund" src="~/Content/Images/logoType/doc.png"><img />
                        <h6 class="mt-2 cardTypeHeader"> Единицы хранения </h6>
                    </div>
                    <div class="card-body bodyCardSize loadingData" data-id="@CFC.SearchFund.Models.SearchRepo.SearchType.InUnitName">
                        <div class="arhiveNameSize">
                            <p class="card-text">
                                <i class="fa fa-bookmark fa-sm" style="color:#983a42;"></i> Найдено:
                            </p>
                            <div class="card-val"></div>
                        </div>
                        <button class="btnForm btn btn-outline-success caption-link btn-default" onclick="sendCount(this)" type="submit" name="DetailsViewKey" value="@CFC.SearchFund.Models.SearchRepo.SearchType.InUnitName">Показать все</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin">
        </div>
    </div>
    @*<img id="loadImg" src="~/Content/Images/load.gif" />*@

}

<script type="text/javascript">

    $(function () {
        $.ajaxSetup({ cache: false, async:true });
        //Подвязка на новую функцию GetSearchPrelimaryData2 c дополнительными параметрами 10.02.2021 Salaman Andrey
        $.post('@Html.Raw(Url.Action("GetSearchPrelimaryData2","Search",new { searchString = Model.SearchString, type = CFC.SearchFund.Models.SearchRepo.SearchType.InFundName,
                                                                               subject_name = Model.Subject,
                                                                               archive_institution_name = Model.ArchiveInstitution,
                                                                               archive_full_name = Model.ArchiveName,
                                                                               fund_num_1 = Model.FundPrefix,
                                                                               fund_num_2 = Model.FundNumb,
                                                                               fund_num_3 = Model.FundLetter,
                                                                               flag_fund_name = Model.InFundName,
                                                                               flag_inventory_name = Model.InInventoryName,
                                                                               flag_annotation_fund_name = Model.InFundAnnotate,
                                                                               flag_annotation_inventory_name = Model.InInventoryAnnotate,
                                                                               flag_history_name = Model.InFundHistory,
                                                                               flag_unit_name = Model.InUnitName}))')
            .done(function(data) {
                onAjaxSuccess(data);
              })
            .fail(function (e) {
                onAjaxFail(e);
            });
        //Подвязка на новую функцию GetSearchPrelimaryData2 c дополнительными параметрами 10.02.2021 Salaman Andrey
        $.post('@Html.Raw(Url.Action("GetSearchPrelimaryData2","Search",new { searchString = Model.SearchString, type = CFC.SearchFund.Models.SearchRepo.SearchType.InFundHistory,
                                                                               subject_name = Model.Subject,
                                                                               archive_institution_name = Model.ArchiveInstitution,
                                                                               archive_full_name = Model.ArchiveName,
                                                                               fund_num_1 = Model.FundPrefix,
                                                                               fund_num_2 = Model.FundNumb,
                                                                               fund_num_3 = Model.FundLetter,
                                                                               flag_fund_name = Model.InFundName,
                                                                               flag_inventory_name = Model.InInventoryName,
                                                                               flag_annotation_fund_name = Model.InFundAnnotate,
                                                                               flag_annotation_inventory_name = Model.InInventoryAnnotate,
                                                                               flag_history_name = Model.InFundHistory,
                                                                               flag_unit_name = Model.InUnitName}))')
            .done(function(data) {
                onAjaxSuccess(data);
              })
            .fail(function (e) {
                onAjaxFail(e);
            });
        //Подвязка на новую функцию GetSearchPrelimaryData2 c дополнительными параметрами 10.02.2021 Salaman Andrey
        $.post('@Html.Raw(Url.Action("GetSearchPrelimaryData2","Search",new { searchString = Model.SearchString, type = CFC.SearchFund.Models.SearchRepo.SearchType.InFundAnnotate,
                                                                               subject_name = Model.Subject,
                                                                               archive_institution_name = Model.ArchiveInstitution,
                                                                               archive_full_name = Model.ArchiveName,
                                                                               fund_num_1 = Model.FundPrefix,
                                                                               fund_num_2 = Model.FundNumb,
                                                                               fund_num_3 = Model.FundLetter,
                                                                               flag_fund_name = Model.InFundName,
                                                                               flag_inventory_name = Model.InInventoryName,
                                                                               flag_annotation_fund_name = Model.InFundAnnotate,
                                                                               flag_annotation_inventory_name = Model.InInventoryAnnotate,
                                                                               flag_history_name = Model.InFundHistory,
                                                                               flag_unit_name = Model.InUnitName}))')
            .done(function(data) {
                onAjaxSuccess(data);
              })
            .fail(function (e) {
                onAjaxFail(e);
            });
        //Подвязка на новую функцию GetSearchPrelimaryData2 c дополнительными параметрами 10.02.2021 Salaman Andrey
        $.post('@Html.Raw(Url.Action("GetSearchPrelimaryData2","Search",new { searchString = Model.SearchString, type = CFC.SearchFund.Models.SearchRepo.SearchType.InInventoryName,
                                                                               subject_name = Model.Subject,
                                                                               archive_institution_name = Model.ArchiveInstitution,
                                                                               archive_full_name = Model.ArchiveName,
                                                                               fund_num_1 = Model.FundPrefix,
                                                                               fund_num_2 = Model.FundNumb,
                                                                               fund_num_3 = Model.FundLetter,
                                                                               flag_fund_name = Model.InFundName,
                                                                               flag_inventory_name = Model.InInventoryName,
                                                                               flag_annotation_fund_name = Model.InFundAnnotate,
                                                                               flag_annotation_inventory_name = Model.InInventoryAnnotate,
                                                                               flag_history_name = Model.InFundHistory,
                                                                               flag_unit_name = Model.InUnitName}))')
            .done(function(data) {
                onAjaxSuccess(data);
              })
            .fail(function (e) {
                onAjaxFail(e);
            });
        //Подвязка на новую функцию GetSearchPrelimaryData2 c дополнительными параметрами 10.02.2021 Salaman Andrey
        $.post('@Html.Raw(Url.Action("GetSearchPrelimaryData2","Search",new { searchString = Model.SearchString, type = CFC.SearchFund.Models.SearchRepo.SearchType.InInventoryAnnotate,
                                                                               subject_name = Model.Subject,
                                                                               archive_institution_name = Model.ArchiveInstitution,
                                                                               archive_full_name = Model.ArchiveName,
                                                                               fund_num_1 = Model.FundPrefix,
                                                                               fund_num_2 = Model.FundNumb,
                                                                               fund_num_3 = Model.FundLetter,
                                                                               flag_fund_name = Model.InFundName,
                                                                               flag_inventory_name = Model.InInventoryName,
                                                                               flag_annotation_fund_name = Model.InFundAnnotate,
                                                                               flag_annotation_inventory_name = Model.InInventoryAnnotate,
                                                                               flag_history_name = Model.InFundHistory,
                                                                               flag_unit_name = Model.InUnitName}))')
            .done(function(data) {
                onAjaxSuccess(data);
              })
            .fail(function (e) {
                onAjaxFail(e);
            });
        //Подвязка на новую функцию GetSearchPrelimaryData2 c дополнительными параметрами 10.02.2021 Salaman Andrey
        $.post('@Html.Raw(Url.Action("GetSearchPrelimaryData2","Search",new { searchString = Model.SearchString, type = CFC.SearchFund.Models.SearchRepo.SearchType.InUnitName,
                                                                               subject_name = Model.Subject,
                                                                               archive_institution_name = Model.ArchiveInstitution,
                                                                               archive_full_name = Model.ArchiveName,
                                                                               fund_num_1 = Model.FundPrefix,
                                                                               fund_num_2 = Model.FundNumb,
                                                                               fund_num_3 = Model.FundLetter,
                                                                               flag_fund_name = Model.InFundName,
                                                                               flag_inventory_name = Model.InInventoryName,
                                                                               flag_annotation_fund_name = Model.InFundAnnotate,
                                                                               flag_annotation_inventory_name = Model.InInventoryAnnotate,
                                                                               flag_history_name = Model.InFundHistory,
                                                                               flag_unit_name = Model.InUnitName}))')
            .done(function(data) {
                onAjaxSuccess(data);
              })
            .fail(function (e) {
                onAjaxFail(e);
            });
    })

    function sendCount(btn) {
        //console.log($(btn).prev().children('.card-val').text());
        var count = $(btn).prev().children('.card-val').text();        
        $('#AllResultsOfType').val(count);
        //console.log($('#AllResultsOfType').val());
        //alert(count);
    }

    function onAjaxSuccess(data) {

        data = data.Data;

        var cardBlock = $('div [data-id="' + data.Type + '"]');

        cardBlock.removeClass('loadingData');

        if (data.Error == null) {
            cardBlock.find('.card-val').text(data.Count);
            
            //console.log(data);
        }
        else {

            cardBlock.find('.card-val').text("Н/Д");
            cardBlock.parent('.card').addClass('bg-secondary');
            cardBlock.addClass('text-white');
            cardBlock.find('.card-text').hide();
            cardBlock.append('<h5 class="card-title font-weight-bold">Повторите запрос позже</h5>');

            console.log('Server action error:');
            console.log(data.Error);
        }

        //cardBlock.parent('.card').addClass('bg-light');

    }

    function onAjaxFail(e, s) {

        console.log('BEGIN: ajaxRequest Fail----------------------');
        console.log(e);
        console.log(s);
        console.log('END: ajaxRequest Fail----------------------');
    }


</script>

