﻿@using CFC.SearchFund.Models
@{
    ViewBag.Title = "Подробно";
}
<h2>
    Подробная информация</h2>
@{
    CFCEntities cfc = new CFCEntities();

    var kind = int.Parse(Url.RequestContext.RouteData.Values["kind"].ToString());
    var id = new Guid(Url.RequestContext.RouteData.Values["id"].ToString());

    tblSUBJECT_CL subject = null;
    tblARCHIVE archive = null;
    vCFCSearch_Fund fund = null;
    vCFCSearch_Inventory inventory = null;
    vCFCSearch_Unit unit = null;
    
    if (kind == 703)
    {
        unit = cfc.vCFCSearch_Unit.SingleOrDefault(x => x.ID == id);
    }
    if (kind == 702)
    {
        inventory = cfc.vCFCSearch_Inventory.SingleOrDefault(x => x.ID == id);
    }
    if (kind == 701)
    {
        fund = cfc.vCFCSearch_Fund.SingleOrDefault(m => m.ID == id);
    }
    if (kind == 700)
    {
        archive = cfc.tblARCHIVE.SingleOrDefault(x => x.ID == id);
    }
    if (unit != null)
    {
        inventory = cfc.vCFCSearch_Inventory.SingleOrDefault(x => x.ISN_INVENTORY == unit.ISN_INVENTORY);
    <h4>
        Номер единицы
    </h4>
    <p>
        @unit.UNIT_NUM
    </p>        
    <h4>
        Название единицы
    </h4>
    <p>
        @unit.NAME
    </p>
    <h4>
        Крайние даты единицы
    </h4>
    <p>
        @(unit.START_YEAR.HasValue ? unit.START_YEAR.Value.ToString() : "...")
        -
        @(unit.END_YEAR.HasValue ? unit.END_YEAR.Value.ToString() : "...")
    </p>
    }
    if (inventory != null)
    {
        fund = cfc.vCFCSearch_Fund.SingleOrDefault(x => x.ISN_FUND == inventory.ISN_FUND);
    <h4>
        Номер описи
    </h4>
    <p>
        @inventory.INVENTORY_NUM
    </p>
    <h4>
        Название описи
    </h4>
    <p>
        @inventory.INVENTORY_NAME
    </p>
    <h4>
        Крайние даты документов описи
    </h4>
    <p>
        @(inventory.DOC_START_YEAR.HasValue ? inventory.DOC_START_YEAR.Value.ToString() : "...")
        -
        @(inventory.DOC_END_YEAR.HasValue ? inventory.DOC_END_YEAR.Value.ToString() : "...")
    </p>
    <h4>
        Аннотация описи
    </h4>
    <p>
        @inventory.ANNOTATE
    </p>
    }
    if (fund != null)
    {
        archive = cfc.tblARCHIVE.SingleOrDefault(x => x.ISN_ARCHIVE == fund.ISN_ARCHIVE);
    <h4>
        Номер фонда
    </h4>
    <p>
        @fund.FUND_NUM
    </p>
    <h4>
        Название фонда
    </h4>
    <p>
        @fund.FUND_NAME_FULL
    </p>
    <h4>
        Крайние даты документов фонда
    </h4>
    <p>
        @(fund.DOC_START_YEAR.HasValue ? fund.DOC_START_YEAR.Value.ToString() : "...")
        -
        @(fund.DOC_END_YEAR.HasValue ? fund.DOC_END_YEAR.Value.ToString() : "...")
    </p>
    <h4>
        Аннотация фонда
    </h4>
    <p>
        @fund.ANNOTATE
    </p>
    <h4>
        Историческая справка фонда
    </h4>
    <p>
        @fund.FUND_HISTORY
    </p>          
    }
    if (archive != null)
    {
        subject = cfc.tblSUBJECT_CL.SingleOrDefault(x => x.ISN_SUBJECT == archive.ISN_SUBJECT);
    <h4>
        Сокращенное название архива
    </h4>
    <p>
        @archive.NAME_SHORT
    </p>   
    <h4>
        Полное название архива
    </h4>
    <p>
        @archive.NAME
    </p>            
    }
    if (subject != null)
    {
    <h4>
        Название субъекта Российской Федерации
    </h4>
    <p>
        @subject.NAME
    </p>   
    } 
}
